# Variables de entorno locales
/.env.local
/.env.local.php
/.env.*.local

# Secrets (claves privadas)
/config/secrets/prod/prod.decrypt.private.php

# Directorios de caché, logs y dependencias
/var/
/vendor/

# Archivos públicos generados
/public/bundles/

# Ignorar el .env real para evitar subir credenciales sensibles
/.env
